a {
    cursor: pointer;
}

#search-collection {
    display: flex;
    flex-direction: column;
    align-items:center;
}

#favorites-collection {
    display: flex;
    flex-direction: column;
    align-items: right;
}